div{
    /* height: 300px; */
    /* width: 300px; */
    border: 4px solid rgb(221, 46, 46);
    /* properties of padding and margin are left ,right, top, bottom */
    margin: 20px;
    padding: 20px;   
} 
.box1{
   /* different forms of float: right, left, none; */
   float: left;
   /* we also use min-width and min-height: ; */
   max-width: 300px;  
   max-height: 300px;   
   /* forms of overflow are overflow-y: ; and overflow-x: ; and overflow: auto, hidden, visible, scroll*/
   overflow: auto;
} 

.box2{
    float: left;
    max-width: 200px;
    max-height: 450px;    
                             
}
.box3{
    float: right;
    max-width: 200px;
    max-height: 450px; 
    /* also use box-sizing: content-box; */
    box-sizing: border-box;
    overflow-y: auto;
}
.box4{
    /* properties of clear: left,right,none,both; */
    clear: both;
    max-width: 200px;
    max-height: 450px; 
}
.box5{
    max-width: 100px;
    max-height: 100px; 
    /* box-sizing: border-box; */
}

